.customContainer {
    display: grid;
    grid-template-columns: 1.25fr 2fr 2fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas:
    "header header header"
    "sidebar boxone boxtwo"
    "sidebar boxthree boxfour";
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;

}

.welcomeContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-auto-rows: 0.1fr 0.2fr 0.4fr 0.2fr 0.1fr;
  grid-template-areas:
    "welcomeHeader welcomeHeader welcomeHeader welcomeHeader welcomeHeader"
    "p1 welcome welcome welcome p2"
    "paddingLeft example1 example2 example3 paddingRight"
    "p3 launch launch launch p4"
    "welcomeFooter welcomeFooter welcomeFooter welcomeFooter welcomeFooter";
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  pointer-events: auto;
}

.paddingLeft {
  grid-area: paddingLeft;
}

.paddingRight {
  grid-area: paddingRight;
}

.welcomeHeader {
  grid-area: welcomeHeader;
}

.welcome, .example1, .example2, .example3, .launch {
  text-align: center;
}

.welcome {
  grid-area: welcome;
}

.example1, .example2, .example3, .paddingLeft, .paddingRight {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: #6c757d;
}

.example1, .example2, .example3 {
  border-left: 1px solid lightgrey;
  padding-left: 20px;
  padding-right: 20px;
}

.example3 {
  border-right: 1px solid lightgrey;
}

.example1 {
  grid-area: example1;
}

.example2 {
  grid-area: example2;
}

.example3 {
  grid-area: example3;
}

.launch {
  padding-top: 15px;
  grid-area: launch;
}


.header, .sidebar, .boxone, .boxtwo, .boxthree {
  pointer-events: auto;
}

.header {
    grid-area: header; 
}
.sidebar {
    grid-area: sidebar;
    /* padding-top: 10px; */
    padding-right: 5px; 
    padding-bottom: 10px; 
    padding-left: 10px;

    min-width: 0;
    min-height: 0;
  }
  .boxone {
    grid-area: boxone;
    /* padding-top: 10px; */
    padding-right: 5px; 
    padding-bottom: 5px; 
    padding-left: 5px;

    min-width: 0;
    min-height: 0;
  }
  .boxtwo {
    grid-area: boxtwo;
    /* padding-top: 10px; */
    padding-right: 10px; 
    padding-bottom: 5px; 
    padding-left: 5px;

    min-width: 0;
    min-height: 0;
  }
  .boxthree {
    grid-area: boxthree;
    padding-top: 5px;
    padding-right: 5px; 
    padding-bottom: 10px; 
    padding-left: 5px;

    min-width: 0;
    min-height: 0;
  }
  .boxfour {
    grid-area: boxfour;
    padding-top: 5px;
    padding-right: 10px; 
    padding-bottom: 10px; 
    padding-left: 5px;

    min-width: 0;
    min-height: 0;
  }

  .table {
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #283c34;
    text-align: center;

}

th {
  position: sticky; 
  top: 0;
  padding-left: 10px;
  background-color: #ffffff;
  /* border-radius: 10px;
  border: 1px solid lightgray; */
  box-shadow: inset 0 2px 0 lightgray, inset 0 -2px 0 lightgrey, inset -2px 0 0 lightgrey, inset 2px 0 0 lightgrey;
  cursor: pointer;

}

.td {
  box-shadow: inset 0 1px 0 lightgray, inset 0 -1px 0 lightgrey, inset -1px 0 0 lightgrey, inset 1px 0 0 lightgrey;
}