.customContainer {
    display: grid;
    grid-template-columns: 1.25fr 2fr 2fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas:
    "header header header"
    "sidebar boxone boxtwo"
    "sidebar boxthree boxfour";
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
}
.header {
    grid-area: header; 
}

.sidebar {
    grid-area: sidebar;
    /* padding-top: 10px; */
    padding-right: 5px; 
    padding-bottom: 10px; 
    padding-left: 10px;

    min-width: 0;
    min-height: 0;
  }
  .boxone {
    grid-area: boxone;
    /* padding-top: 10px; */
    padding-right: 5px; 
    padding-bottom: 5px; 
    padding-left: 5px;

    min-width: 0;
    min-height: 0;
  }
  .boxtwo {
    grid-area: boxtwo;
    /* padding-top: 10px; */
    padding-right: 10px; 
    padding-bottom: 5px; 
    padding-left: 5px;

    min-width: 0;
    min-height: 0;
  }
  .boxthree {
    grid-area: boxthree;
    padding-top: 5px;
    padding-right: 5px; 
    padding-bottom: 10px; 
    padding-left: 5px;

    min-width: 0;
    min-height: 0;
  }
  .boxfour {
    grid-area: boxfour;
    padding-top: 5px;
    padding-right: 10px; 
    padding-bottom: 10px; 
    padding-left: 5px;

    min-width: 0;
    min-height: 0;
  }

  .table {
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #283c34;
    text-align: center;
}