/*  src/Title.css  */
.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 1.5em;
    margin-bottom: 15px;
    background-color: rgb(227, 229, 233);
    color: #000000;
  }

  header {
    width: 100%;
  }